<nav class="absolute w-full bg-blue-700 border-slate-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <a href="/" class="flex items-center">
      <!-- <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" /> -->
      <span class="self-center text-xl font-semibold whitespace-nowrap text-white">PSQI</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0">
        <li>
          <a href="/"
            class="block text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-slate-600">Home</a>
        </li>
        <li>
          <a href="/dataset"
            class="block text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-slate-600">Dataset</a>
        </li>
      </ul>
    </div>
  </div>
</nav>